{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Investment Opportunities</h1>
  <p class="text-center">
    Discover projects from farmers looking for investment support.
  </p>
  <div class="row mt-4">
    <!-- Placeholder for investment cards -->
    <div class="col-md-4" v-for="opportunity in opportunities">
      <div class="card">
        <img
          src="{% static 'images/opportunity_placeholder.jpg' %}"
          class="card-img-top"
          alt="Opportunity"
        />
        <div class="card-body">
          <h5 class="card-title">Project Name</h5>
          <p class="card-text">
            Brief description of the project and investment amount needed.
          </p>
          <a href="#" class="btn btn-primary">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
