<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    {% load static  %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
</head>
<body>
    <img class="img1" src="{% static 'static/images/Woman mobile phone_0.jpg'%}" alt="">
    <div class="content_home">
        <h2>Connect with Farmers,Suppliers and Investors today</h2>
        <div class="content_second">
            <p>Welcome to farm connect,your one stop platform for all agricultural needs.Discover fresh products,connect with suppliers and explore investment opportunities in farming</p>
            <div class="content_three">
                <button>Learn More</button>
                <button>Sign Up</button>
            </div>
        </div>
    </div>
    <div class="main_body">
        <div class="body_main">
            <h2>Unlock Your Farming Potential with Farm Connect </h2>
            <p>Farm Connect bridges the gap between farmers,customers and investors,creating a vibrant marketplacefor fresh produce and innovative farming solutions. Experience seamless connections that empower farmers,satisfy customers and attract investors to cultivate a thriving agricultural community</p>
            <button>More Info</button>
            <button>Get started</button>
        </div>
        <div>
            <img class="img2" src="{% static 'static/images/farming3.jpg'%}" alt="">
        </div>
       
    </div>
    <div class="services_intro">
        <div class="services_first">
            <h2>Explore Our Core Services For Farmers</h2>
            <p>Farm Connect Offers a comprehensive platform for farmers and customers to engage directly.Discover a range of services designed to enhance farming and Investment opportunities</p>
        </div>
        <div class="services_main">
            <div class="main_one">
                <img class="img4" src="{% static 'static/images/crop2.jpeg'%}" alt="">
                <h2>Product Marketplace For Fresh Farm Goods</h2>
                <p>Easily browse and purchase variety of products directly from local farmers</p>

            </div>
            <div class="main_one">
                <img class="img3" src="{% static 'static/images/farming5.jpg'%}" alt="">
                <h2>Investment Opportunities For Sustainable Farming</h2>
                <p>Join us in supporting innovative projects through Investment</p>
            </div>
            <div class="main_one">
                <img class="img3" src="{% static 'static/images/farming6.jpg'%}" alt="">
                <h2>Comprehensive Support For Farmers' Success</h2>
                <p>Access resources and guidance to thrive in agriculture</p>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="Discover">Discover How Farm Connect Bridges The Gap Between Farmers and Customers</h2>
        <div class="container_first">
            <div class="container_second">
                <img class="img4" src="{% static 'static/images/farming1.jpg'%}" alt="">
                <h2>Connecting Farmers,Customers and Investors for Sustainable Agricultural Future.</h2>
                <p>Farm Connect empowers Farmers to sell directly to customers enhancing profitability</p>
                <button>Check It Out</button>
            </div>
            <div class="container_second">
                <img class="img3" src="{% static 'static/images/farmer_phone.jpg'%}" alt="">
                <h2>Farmers can Easily Access Suppliers And Resources Through Our Platform.</h2>
                <p>Our platform simplifies the supply chain,making it easir for farmers to thrive.</p>
                <button>Check It Out</button>
            </div>
            <div class="container_second">
                <img class="img3" src="{% static 'static/images/download (2).jpeg'%}" alt="">
                <h2>Investors Can Find Lucrative Oppotunities in the agricultural sector with us.</h2>
                <p>Join us to connect with innovative farming projects and support Sustainable growth</p>
                <button>Check It Out</button>
            </div>
        </div>
    </div>
    <div class="background_info">
        <div class="background_content">
            <h2>Join The Farm Connect Community</h2>
            <p>Discover how Farm Connect can enhance your farming experience and connect you with valuable resources</p>
            <button>More About It</button>
            <button>Join Now</button>
        </div>
    </div>
    
</body>
</html>